body {
    font-family: 'Muli', sans-serif;
}

.active {
    border: 1px solid #0275d8;
}

.card {
    cursor: pointer;
    width: 100%;
}

.card-body {
    padding: 0.5rem;
}

.scroll {
    overflow-y: scroll;
    height: 100%;
}

.bottom-buttons {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.custom-control {
    min-height: 1rem;
    margin-right: 0;
}