.active {
    border: 1px solid blue;
}

.card-body {
    padding: 0.5rem !important;
}

.scroll {
    overflow-y: scroll;
    height: 100%;
}

.bottom-buttons {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.bottom-buttons h1 {
    margin-right: 10px;
}